.computerNode {
    display: flex;
    align-items: center;
    width: 50%;
    border: 1px solid #dfdfdf;
    padding: 0.5em 2em 0.5em 2em;
}

.computerNode .iconContainer {

}

.computerNode .computerContents {
    width: 100%;
    padding: 1em;
}

.slots {
    display: inline-block;
    width: 50%;
}

.slots .slotsContent {
    display: flex;
}

.slots .slotsContent .slot {
    margin: 0.2em;
    padding: 1em;
    border: 1px solid #dfdfdf;
}